html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#wrapper{
	display: none;
}

.container{
	top: 41px;
	bottom: 0px;
	position: absolute;
	width: 100%;
}

.container iframe{
	position: absolute;	
	margin: 0;
	padding: 0;
	border: 0px;
	height: 100%;
	width: 100%;	
}
